[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/zsh-autocomplete"]
	path = zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "local/share/nvim/lazy/neodev.nvim"]
	path = local/share/nvim/lazy/neodev.nvim
	url = https://github.com/folke/neodev.nvim.git
[submodule "local/share/nvim/lazy/tokyonight.nvim"]
	path = local/share/nvim/lazy/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "local/share/nvim/lazy/flit.nvim"]
	path = local/share/nvim/lazy/flit.nvim
	url = https://github.com/ggandor/flit.nvim.git
[submodule "local/share/nvim/lazy/nvim-spectre"]
	path = local/share/nvim/lazy/nvim-spectre
	url = https://github.com/windwp/nvim-spectre.git
[submodule "local/share/nvim/lazy/friendly-snippets"]
	path = local/share/nvim/lazy/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "local/share/nvim/lazy/bufferline.nvim"]
	path = local/share/nvim/lazy/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim.git
[submodule "local/share/nvim/lazy/neo-tree.nvim"]
	path = local/share/nvim/lazy/neo-tree.nvim
	url = https://github.com/nvim-neo-tree/neo-tree.nvim.git
[submodule "local/share/nvim/lazy/plenary.nvim"]
	path = local/share/nvim/lazy/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "local/share/nvim/lazy/leap.nvim"]
	path = local/share/nvim/lazy/leap.nvim
	url = https://github.com/ggandor/leap.nvim.git
[submodule "local/share/nvim/lazy/cmp_luasnip"]
	path = local/share/nvim/lazy/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
[submodule "local/share/nvim/lazy/indent-blankline.nvim"]
	path = local/share/nvim/lazy/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "local/share/nvim/lazy/nvim-navic"]
	path = local/share/nvim/lazy/nvim-navic
	url = https://github.com/SmiteshP/nvim-navic.git
[submodule "local/share/nvim/lazy/persistence.nvim"]
	path = local/share/nvim/lazy/persistence.nvim
	url = https://github.com/folke/persistence.nvim.git
[submodule "local/share/nvim/lazy/mini.ai"]
	path = local/share/nvim/lazy/mini.ai
	url = https://github.com/echasnovski/mini.ai.git
[submodule "local/share/nvim/lazy/cmp-path"]
	path = local/share/nvim/lazy/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "local/share/nvim/lazy/gitsigns.nvim"]
	path = local/share/nvim/lazy/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "local/share/nvim/lazy/lazy.nvim"]
	path = local/share/nvim/lazy/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
[submodule "local/share/nvim/lazy/mason-lspconfig.nvim"]
	path = local/share/nvim/lazy/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "local/share/nvim/lazy/lualine.nvim"]
	path = local/share/nvim/lazy/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "local/share/nvim/lazy/nvim-web-devicons"]
	path = local/share/nvim/lazy/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "local/share/nvim/lazy/vim-illuminate"]
	path = local/share/nvim/lazy/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "local/share/nvim/lazy/noice.nvim"]
	path = local/share/nvim/lazy/noice.nvim
	url = https://github.com/folke/noice.nvim.git
[submodule "local/share/nvim/lazy/catppuccin"]
	path = local/share/nvim/lazy/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "local/share/nvim/lazy/mason.nvim"]
	path = local/share/nvim/lazy/mason.nvim
	url = https://github.com/williamboman/mason.nvim.git
[submodule "local/share/nvim/lazy/nvim-treesitter-textobjects"]
	path = local/share/nvim/lazy/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "local/share/nvim/lazy/mini.surround"]
	path = local/share/nvim/lazy/mini.surround
	url = https://github.com/echasnovski/mini.surround.git
[submodule "local/share/nvim/lazy/mini.pairs"]
	path = local/share/nvim/lazy/mini.pairs
	url = https://github.com/echasnovski/mini.pairs.git
[submodule "local/share/nvim/lazy/alpha-nvim"]
	path = local/share/nvim/lazy/alpha-nvim
	url = https://github.com/goolord/alpha-nvim.git
[submodule "local/share/nvim/lazy/nvim-notify"]
	path = local/share/nvim/lazy/nvim-notify
	url = https://github.com/rcarriga/nvim-notify.git
[submodule "local/share/nvim/lazy/null-ls.nvim"]
	path = local/share/nvim/lazy/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim.git
[submodule "local/share/nvim/lazy/telescope.nvim"]
	path = local/share/nvim/lazy/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "local/share/nvim/lazy/todo-comments.nvim"]
	path = local/share/nvim/lazy/todo-comments.nvim
	url = https://github.com/folke/todo-comments.nvim.git
[submodule "local/share/nvim/lazy/nvim-treesitter"]
	path = local/share/nvim/lazy/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "local/share/nvim/lazy/which-key.nvim"]
	path = local/share/nvim/lazy/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "local/share/nvim/lazy/cmp-buffer"]
	path = local/share/nvim/lazy/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "local/share/nvim/lazy/mini.comment"]
	path = local/share/nvim/lazy/mini.comment
	url = https://github.com/echasnovski/mini.comment.git
[submodule "local/share/nvim/lazy/vim-startuptime"]
	path = local/share/nvim/lazy/vim-startuptime
	url = https://github.com/dstein64/vim-startuptime.git
[submodule "local/share/nvim/lazy/neoconf.nvim"]
	path = local/share/nvim/lazy/neoconf.nvim
	url = https://github.com/folke/neoconf.nvim.git
[submodule "local/share/nvim/lazy/nvim-lspconfig"]
	path = local/share/nvim/lazy/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "local/share/nvim/lazy/LuaSnip"]
	path = local/share/nvim/lazy/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "local/share/nvim/lazy/trouble.nvim"]
	path = local/share/nvim/lazy/trouble.nvim
	url = https://github.com/folke/trouble.nvim.git
[submodule "local/share/nvim/lazy/mini.bufremove"]
	path = local/share/nvim/lazy/mini.bufremove
	url = https://github.com/echasnovski/mini.bufremove.git
[submodule "local/share/nvim/lazy/mini.indentscope"]
	path = local/share/nvim/lazy/mini.indentscope
	url = https://github.com/echasnovski/mini.indentscope.git
[submodule "local/share/nvim/lazy/cmp-nvim-lsp"]
	path = local/share/nvim/lazy/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "local/share/nvim/lazy/vim-repeat"]
	path = local/share/nvim/lazy/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "local/share/nvim/lazy/dressing.nvim"]
	path = local/share/nvim/lazy/dressing.nvim
	url = https://github.com/stevearc/dressing.nvim.git
[submodule "local/share/nvim/lazy/nvim-cmp"]
	path = local/share/nvim/lazy/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "local/share/nvim/lazy/LazyVim"]
	path = local/share/nvim/lazy/LazyVim
	url = https://github.com/LazyVim/LazyVim.git
[submodule "local/share/nvim/lazy/nui.nvim"]
	path = local/share/nvim/lazy/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "local/share/nvim/lazy/nvim-ts-context-commentstring"]
	path = local/share/nvim/lazy/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring.git
